.todoContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(207, 207, 207, 0.603);
}

.todoContainer > div {
  width: 100%;
}
.todoContainerButtons {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 5px;
}

.todoContainerButtons > button {
  font-size: 10px;
  font-weight: 600;
  color: white;
  color: rgb(84, 84, 84);
  border: none;
  padding: 7px 10px;
  cursor: pointer;
}

.todoContainerContent {
  padding: 10px;
  color: rgb(0, 106, 255);
  font-weight: 600;
}
