.todo-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(207, 207, 207, 0.603);
}

.todo-container > div {
  width: 100%;
}
.todo-container-buttons {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 5px;
}

.todo-container-buttons > button {
  font-size: 10px;
  font-weight: 600;
  color: white;
  color: rgb(84, 84, 84);
  border: none;
  padding: 7px 10px;
  cursor: pointer;
}

.todo-container-content {
  padding: 10px;
  color: rgb(0, 106, 255);
  font-weight: 600;
}

/* .delete-button{
    background-color  : red  !important;
} */
